.container{
    background-image: url("https://res.cloudinary.com/dduwkdctl/image/upload/v1673931280/Kanban%20Project/wave_oawig5.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px;
    border-radius: 10px;
  }


