<div class="container">
<nav class="navbar navbar-expand-sm navbar-dark bg-primary px-3">
  <a class="navbar-brand" href="#">Employee Portal</a>

  <form class="d-flex me-auto ms-3" (submit)="onSearch()">
    <input
      class="form-control me-2"
      type="search"
      name="search"
      placeholder="Search by fullName  "
      aria-label="Search"
      [(ngModel)]="searchQuery"
      fullName="search"
      required
    />
    <button class="btn btn-outline-light" type="submit">Search</button>
  </form>

  <ul class="navbar-nav ms-auto">
    <li class="nav-item">
      <a
      routerLink="employee-list"
      routerLinkActive="active"
        class="nav-link"
      >
        Employee List
      </a>
    </li>
    <li class="nav-item">
      <a
        routerLink="create-employee"
        routerLinkActive="active"
        class="nav-link"
      >
        create-employee
      </a>
    </li>
  </ul>
</nav>

<div class="container my-4">
  <h1 class="text-center bg-danger text-white p-2 rounded mt-0">{{ title }}</h1>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="footer bg-light text-center py-3 mt-5 border-top mb-0">
  <div class="container">
    <span class="text-muted">All Rights Reserved © Sileo Pvt.Ltd 2025</span>
  </div>
</footer>
</div>
